# List and default Functions

In [10]:
lst=[1,2,3,4,5,6,7,8,9,"Hello"]

In [11]:
lst.append(0)

In [12]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', 0]

In [16]:
lst.clear()

In [17]:
print(lst)

[]

In [19]:
lst=[1,2,3,4,5,6,7,8,9,"Hello"]

In [20]:
lst.copy()                   #Makes a copy of the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello']

In [21]:
lst.count(4)                 #Counts the number of times 4 appeared in the string

1

In [30]:
lst=[1,2,3,4,5,6,7,8,9,"Hello"]

In [31]:
lst.extend(["Letsupgrade"])      #Extends the list 
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', 'Letsupgrade']

In [32]:
lst.index("Hello")               #gives index of passed arguement

9

In [33]:
lst.insert(0,0)                 #inserts 0 at 0th index 
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', 'Letsupgrade']

In [34]:
lst.pop()                      #Removes the item in the given position of list and if no position is describes it simply
print(lst)                     #removes the last item

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello']

In [35]:
lst.remove(0)               #Removes 0 from the list
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello']

In [36]:
lst.reverse()               #reverses the list
print(lst)

['Hello', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
lst1=[5,4,3,2,1]
lst1.sort()
print(lst1)

[1, 2, 3, 4, 5]

# DICTIONARY AND DEFAULT FUNCTIONS

In [72]:
dct = {"Dog": 1, "Cat": 2, "Cow": 3}
print(dct)

{'Dog': 1, 'Cat': 2, 'Cow': 3}

In [53]:
dct.clear()
print(dct)                            #clears all the elements from dictionary

{}

In [57]:
b=dct.copy()                           # Returns a copy of dictionary
print(b)

{'Dog': 1, 'Cat': 2, 'Cow': 3}

In [60]:
c=dct.fromkeys("d")
print(c)

{'d': None}

In [61]:
b=dct.get("Dog")                        #gives value of corresponding key
print(b)

1

In [62]:
b=dct.items()                          #gives a dictionary with key value pair
print(b)

dict_items([('Dog', 1), ('Cat', 2), ('Cow', 3)])

In [63]:
b=dct.keys()                            #gives keys 
print(b)

dict_keys(['Dog', 'Cat', 'Cow'])

In [64]:
b=dct.pop("Cow")
print(b)

3

In [65]:
b=dct.popitem()
print(b)

('Cat', 2)

In [69]:
a=dct.setdefault("Dog")
print(a)

1

In [73]:
dct.update({"Goat": 4})
print(dct)

{'Dog': 1, 'Cat': 2, 'Cow': 3, 'Goat': 4}

In [74]:
dct.values()

dict_values([1, 2, 3, 4])

# SETS AND ITS DEFAULT VALUE

In [12]:
st1 = {1,2,3,4,4,5,6,7,7,7,7,7,8}
print(st1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
st1.add(9)                             #Adds an element to the set
print(st1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
st1.clear()                               #Removes all the elements from the set
print(st1)

set()

In [14]:
x = st1.copy()                             	#Returns a copy of the set
print(st1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
x = {"apple", "banana", "cherry"}                #Returns a set containing the difference between two or more sets
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [18]:
x = {"apple", "banana", "cherry"}                         #Removes the items in this set that are also included in another,
y = {"google", "microsoft", "apple"}                       #specified set

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [20]:
x.discard("apple")                                          #specified set
print(x)

{'banana', 'cherry'}

In [23]:
x = {"apple", "banana", "cherry"}                            #Returns a set, that is the intersection of two other sets
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [24]:
x = {"apple", "banana", "cherry"}                            #Removes the items in this set that are not present in other, specified set      
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [25]:
x = {"apple", "banana", "cherry"}                            #Returns whether two sets have a intersection or not    
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [27]:
x = {"a", "b", "c"}                                              #Returns whether another set contains this set or not
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [29]:
x = {"f", "e", "d", "c", "b", "a"}                                  #Returns whether this set contains another set or not
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [38]:
x = {"Apple", "cherry", "banana"}                             #Removes an element from the set

x.pop()

print(x)

{'Apple', 'banana'}

In [39]:
x = {"apple", "banana", "cherry"}                             #Removes the specified element

x.remove("banana")

print(x)

{'apple', 'cherry'}

In [40]:
x = {"apple", "banana", "cherry"}                             #Returns a set with the symmetric differences of two sets
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'microsoft', 'banana'}

In [41]:
x = {"apple", "banana", "cherry"}                           #inserts the symmetric differences from this set and another
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'microsoft', 'banana'}

In [42]:
x = {"apple", "banana", "cherry"}                             #Return a set containing the union of sets
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}

In [43]:
x = {"apple", "banana", "cherry"}                           #Update the set with the union of this set and others
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}

# TUPLE AND DEFAULT METHODS

In [45]:
tup = ("apple","mango","cherry","mango")
print(tup)

('apple', 'mango', 'cherry', 'mango')

In [46]:
tup.count("mango")

2

In [47]:
tup.index("cherry")

2

# STRINGS AND DEFAULT METHODS

In [48]:
txt = "hello, and welcome to my world."                   #Converts the first character to upper case

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [49]:
txt = "Hello, And Welcome To My World!"                       #Converts string into lower case

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [51]:
txt = "banana"                                              #Returns a centered string

x = txt.center(15)

print(x)

     banana

In [52]:
txt = "I love mango, mango are my favorite fruit"              #Returns the number of times a specified value occurs in a string

x = txt.count("mango")

print(x)

2

In [54]:
txt = "My name is Zeaid Ali "                          #Returns an encoded version of the string

x = txt.encode()

print(x)

b'My name is Zeaid Ali '

In [57]:
txt = "Hello, welcome to my world!"                        #Returns true if the string ends with the specified value

x = txt.endswith("!")

print(x)

True

In [58]:
txt = "H\te\tl\tl\to"                                       #Sets the tab size of the string

x =  txt.expandtabs(2)

print(x)

H e l l o

In [59]:
txt = "Hello, welcome to my world."                        #Searches the string for a specified value and returns the position of where it was found

x = txt.find("welcome")

print(x)

7

In [61]:
txt = "For only {price:.2f} Rupees!"                        #Formats specified values in a string

x = txt.format(price = 49)

print(x)

For only 49.00 Rupees!

In [62]:
txt = "Hello, welcome to my world." #Searches the string for a specified value and returns the position of where it was found

x = txt.index("welcome")

print(x)

7

In [64]:
txt = "Zeaid12"                                              #Returns True if all characters in the string are alphanumeric

x = txt.isalnum()

print(x)

True

In [66]:
txt = "ZeaidAli"                                          #Returns True if all characters in the string are in the alphabet

x = txt.isalpha()

print(x)

True

In [68]:
txt = "Zeaid"                                                #Returns True if the string is an identifier

x = txt.isidentifier()

print(x)

True

In [70]:
txt = "Hello world!"                                   #Returns True if all characters in the string are lower case

x = txt.islower()

print(x)

False

In [71]:
txt = "123132"                                              #Returns True if all characters in the string are numeric

x = txt.isnumeric()

print(x)

True

In [73]:
txt = "Hello! Are you ?"                             #Returns True if all characters in the string are printable

x = txt.isprintable()

print(x)

True

In [74]:
txt = "   "                         #Returns True if all characters in the string are whitespaces

x = txt.isspace()

print(x)

True

In [76]:
txt = "Hello, And Welcome To My World!"                  #Returns True if the string follows the rules of a title

x = txt.istitle()

print(x)

True

In [78]:
txt = "THIS IS NOw!"               #Returns True if all characters in the string are upper case

x = txt.isupper()

print(x)

False

In [1]:
myTuple = ("John", "Peter", "Vicky")        #Joins the elements of an iterable to the end of the string

x = " ".join(myTuple)

print(x)

John Peter Vicky

In [2]:
txt = "ZEAID ALI GHORI"                        #Converts a string into lower case

x = txt.lower()

print(x)

zeaid ali ghori

In [3]:
txt = "     banana     "

x = txt.lstrip()

print(x)

banana

In [7]:
txt = "Zeaid Ali Ghori"                         #Returns a tuple where the string is parted into three parts

x = txt.partition("Ali")

print(x)

('Zeaid ', 'Ali', ' Ghori')

In [8]:
txt = "Zeaild ali ghori"

x = txt.replace("ali", "Ali")

print(x)

Zeaild Ali ghori

In [11]:
txt = "Zeaid Ali Ghori."

x = txt.rfind("Ali")

print(x)

6

In [12]:
txt = "Zeaid Ali Ghori."

x = txt.rindex("Ali")

print(x)

6

In [13]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [27]:
txt = "     Zeaid Ali     "

x = txt.rstrip()

print("My name is", x, "ghori")

My name is      Zeaid Ali ghori

In [28]:
txt = "welcome to the World"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'World']

In [29]:
txt = "Zeaid ali ghori"

x = txt.startswith("Zeaid")

print(x)

True

In [30]:
txt = "     Zeaid     "

x = txt.strip()

print("My name is", x, "Ghori")

My name is Zeaid Ghori

In [31]:
txt = "My Name Is Zeaid"

x = txt.swapcase()

print(x)

mY nAME iS zEAID

In [32]:
txt = "Zeaid ali ghori"

x = txt.upper()

print(x)

ZEAID ALI GHORI

In [34]:
txt = "50"

x = txt.zfill(7)

print(x)

0000050